@import "vars";
@import "libs";
@import "fonts";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', ;
  font-size: 16px;
  background-color: white;
}

a {
  text-decoration: none;
  color: #000;
}

.wrapper {
  width: 1400px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

nav {
  .wrapper {
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
    margin-bottom: 25px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;

    .flex {
      align-items: center;
    }

    .cart::before {
      content: '';
      background: url('../img/shopping-bag.svg');
      background-size: cover;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 130px;
    }

    .search {
      border: 1px solid #959595;
      padding: 10px;
      margin-left: 30px;
    }
  }
}

.nav {
  align-items: center;

  a {
    margin-right: 20px;
  }
}

.logo {
  height: 40px;
  width: 40px;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

header {
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  .wrapper {
    background: url('../img/bg-header.jpg') left 20% no-repeat;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 316px rgba(0, 0, 0, 0.6) inset;

    .desc {
      @include desc;
    }

    button {
      text-transform: uppercase;
      color: #b8b8b8;
      border: 1px solid #959595;
      padding: 15px;
      background-color: transparent;
      margin-bottom: 70px;
    }
  }

  margin-bottom: 50px;
}

h1 {
  text-transform: uppercase;
  font-size: 96px;
  color: white;
  text-shadow: 0 0 15px darkgrey;
  letter-spacing: 4px;
  margin-top: 160px;
}

.gallery {
  color: white;
  display: grid;
  grid-template-areas: "block1 block2 block3 block4"
    "block1 block5 block6 block7"
    "block8 block9 block10 block7";
  grid-template-rows: repeat(3, 350px);
  grid-template-columns: repeat(4, 350px);

  .block1 {
    grid-area: block1;

    background: url('../img/black-dress.jpg') 30% no-repeat;
    @include block;
    font-weight: bold;
    font-size: 35px;
    line-height: 50px;

    box-shadow: 0 0 0 175px rgba(0, 0, 0, 0.2) inset;

    span {
      @include block-span;
    }
  }

  .block2 {
    grid-area: block2;

    background: url('../img/festival.jpg') 46% no-repeat;
    @include block;
    position: relative;

    box-shadow: 0 0 0 175px rgba(0, 0, 0, 0.8) inset;

    div::before,
    div::after {
      content: '';
      position: absolute;
      height: 1px;
      width: 30px;
      background-color: white;
      top: 110px;
    }

    div::before {
      left: 100px;
    }

    div::after {
      right: 100px;
    }

    p {
      font-family: 'Georgia Italic';
      font-size: 18px;
      margin-top: 20px;
    }

    p:last-child {
      font-family: 'Lato', ;
      font-weight: bold;
      margin-top: 10px;
    }
  }

  .block3 {
    grid-area: block3;

    background: url('../img/elegant-shoes.jpg');
    background-size: cover;
    height: 350px;
    width: 350px;
  }

  .block4 {
    grid-area: block4;

    background-color: rgba(0, 0, 0, 0.5);
    @include block;
    font-weight: bold;
    font-size: 33px;

    p:first-child {
      font-size: 40px;
    }

    p:nth-child(2) {
      margin-top: 10px;
    }

    p:last-child {
      @include block-p-last
    }
  }

  .block5 {
    grid-area: block5;

    background: url('../img/chuck-taylors.jpg') 50% 60% no-repeat;
    @include block;
    font-weight: bold;
    font-size: 33px;

    box-shadow: 0 0 0 175px rgba(0, 0, 0, 0.2) inset;

    p:last-child {
      @include block-p-last;
    }
  }

  .block6 {
    grid-area: block6;

    background: url('../img/pirelli.jpg') 46% no-repeat;
    @include block;
    padding-left: 60px;
    padding-right: 60px;
    position: relative;

    box-shadow: 0 0 0 175px rgba(0, 0, 0, 0.6) inset;

    div::before,
    div::after {
      content: '';
      position: absolute;
      height: 1px;
      width: 30px;
      background-color: white;
      top: 120px;
    }

    div::before {
      left: 100px;
    }

    div::after {
      right: 100px;
    }

    p {
      font-family: 'Georgia Italic';
      font-size: 18px;
      margin-top: 20px;
    }

    p:last-child {
      font-family: 'Lato', ;
      font-weight: bold;
      margin-top: 10px;
    }
  }

  .block7 {
    grid-area: block7;

    background: url('../img/jeans-adventure.jpg') 40% no-repeat;
    @include block;
    font-weight: bold;
    font-size: 35px;
    line-height: 50px;

    box-shadow: 0 0 0 176px rgba(0, 0, 0, 0.2) inset;

    span {
      @include block-span;
    }
  }

  .block8 {
    grid-area: block8;

    background: url('../img/jaxon-hat.jpg') no-repeat;
    background-size: cover;
  }

  .block9 {
    grid-area: block9;

    background-color: rgba(0, 0, 0, 0.5);
    @include block;
    font-weight: bold;
    font-size: 33px;

    p:first-child {
      font-size: 40px;
    }

    p:nth-child(2) {
      margin-top: 10px;
    }

    p:last-child {
      @include block-p-last;
    }
  }

  .block10 {
    grid-area: block10;

    background: url('../img/basic-blazer.jpg') 50% 60% no-repeat;
    @include block;
    font-weight: bold;
    font-size: 33px;

    box-shadow: 0 0 0 175px rgba(0, 0, 0, 0.1) inset;

    p:last-child {
      font-family: 'Georgia Italic';
      font-size: 25px;
      font-weight: 200;
      letter-spacing: 2px;
      margin-top: 10px;
    }
  }

}

.slider {
  position: relative;
  margin-bottom: 100px;

  .title {
    font-weight: bold;
    font-size: 35px;
    color: black;
    margin-top: 70px;
    margin-bottom: 25px;
  }

  .prev,
  .next {
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    padding-top: 63px;
    padding-bottom: 63px;
    top: 63px;
  }

  .prev {
    left: 0;
  }

  .next {
    right: 0
  }
}

footer {
  .block {
    font-size: 18px;
    margin-right: 30px;
    width: 25%;
    border-right: 1px solid lightgrey;

    &:last-child {
      border-right: none;
      margin-right: 0;
    }
  }

  .title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 25px;
  }

  li {
    list-style-type: none;
    margin-bottom: 10px;
  }

  .social {
    img {
      padding: 10px;
      border: 1px solid black;
      margin-right: 20px;
      margin-top: 25px;
    }
  }
}


.cart-label {
  flex-direction: column;

  h1 {
    font-weight: bold;
    color: black;
    text-shadow: none;
    font-size: 60px;
  }

  .desc {
    @include desc;
  }
}

.cart-table {
  width: 100%;
  margin-bottom: 100px;

  tr td:first-child {
    width: 130px;
  }

  tr td:nth-child(6) {
    width: 70px;
  }

  tr td:last-child {
    width: 50px;
  }

  tr td:last-child button {
    background: url('../img/close.svg') no-repeat;
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
  }

  th {
    border-bottom: 1px solid #e5e5e5;
    color: #bcbcbc;
    padding-bottom: 30px;
    text-align: left;
  }

  td {
    padding: 20px 10px 20px 0;
    font-size: 18px;
  }

  .count {
    align-items: center;
  }

  .count div button {
    display: block;
    background-color: black;
    color: white;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
    border: none;
    cursor: pointer;
  }
}

.select {
  justify-content: center;
  margin-bottom: 100px;

  &-item {
    select {
      font-family: 'Georgia Italic';
      font-size: 25px;
      color: #606060;
      width: 300px;
      border: none;
      border-bottom: 3px solid black;
      margin-right: 60px;
      padding: 10px;
    }

    &:last-child {
      select {
        margin-right: 0;
      }
    }
  }
}

.goods {
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 20px;

  .good {
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin-bottom: 20px;

    .name {
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    .price {
      font-size: 15px;
    }

  }
}


@import "media";